@font-face {
    font-family: 'Cuprum';
    src: local('Cuprum'), local('Cuprum-Regular'), url('../fonts/cuprum.woff2') format('woff2'), url('../fonts/cuprum.woff') format('woff'), url('cuprum.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: local('Cuprum Bold'), local('Cuprum-Bold'), url('../fonts/cuprumbold.woff2') format('woff2'), url('../fonts/cuprumbold.woff') format('woff'), url('cuprumbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
